{% extends 'common/base.html' %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Units' %} | {{ unit }}{% endblock %}

{% block content %}
            <div class="units-list">
                <!--<div class="quick-add-unit">
                    <form action="/units/add.html?next=/dashboard.html" method="post">
                        {% csrf_token %}
                        <input type="text" name="name" id="inputName" placeholder="Name" />
                        <input type="text" name="imei" id="inputIMEI" placeholder="IMEI" />
                        <button type="submit" class="btn">{% trans 'Add' %}</button>
                    </form>
                </div>-->
                <div class="unit-info">
                    <p>
                        <strong>IMEI:</strong> <span class="unit-imei">{{ unit.imei }}</span>
                    </p>
                    <p>
                        <strong>Name:</strong> <span class="unit-name">{{ unit.name }}</span>
                    </p>
                </div>
                <div class="unit-locations">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs messages-tabs">
                            <li class="active message-tab-each message-tab-latest"><a class="unit-location-link" href="#latest">Latest</a></li>
                            {% for message in messages %}
                            <li class="message-tab-each message-tab-{{ message.pk }}"><a class="unit-location-link" href="#{{ message.pk }}">{{ message.timestamp }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="now-map">
                                <div id="unit-map" class="unit-map"></div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
{% endblock %}

{% block postjavascripts %}
        <script src="{% static 'js/unit.js' %}"></script>
        <script src="{% static 'js/handler.js' %}"></script>
        <script src="//api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"></script>
{% endblock %}