{% extends 'common/base.html' %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block content %}
            <div class="dashboard">
{% include 'webui/units/quick-add-form.html' %}
                <div class="units-list">
{% include 'webui/units/units-list.html' %}
                </div>
                <div class="last-location">
                    <div id="dashboard-map" class="dashboard-map span11"></div>
                </div>
            </div>
{% endblock %}

{% block postjavascripts %}
        <script src="{% static 'js/dashboard.js' %}"></script>
        <script src="{% static 'js/handler.js' %}"></script>
        <script src="//api-maps.yandex.ru/2.0-stable/?load=package.full&amp;lang=en-US"></script>
{% endblock %}