{% extends 'common/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block javascripts %}        <script src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>
            <script type="text/javascript">
            ymaps.ready(function(){
                var dashboard_map = new ymaps.Map("dashboard-map", {
                    center: [55.76, 37.64],
                    zoom: 10
                });
            });
</script>
{% endblock %}

{% block content %}
            <div class="dashboard">
                <div class="quick-add-unit">
                    <form action="/units/add.html?next=/dashboard.html" method="post">
                        {% csrf_token %}
                        <input type="text" name="name" id="inputName" placeholder="Name" />
                        <input type="text" name="imei" id="inputIMEI" placeholder="IMEI" />
                        <button type="submit" class="btn">{% trans 'Add' %}</button>
                    </form>
                </div>
                <div class="units-list">
                    <table class="table table-striped">
                        <tr>
                            <td>{% trans '#' %}</td>
                            <td>{% trans 'Unit name' %}</td>
                            <td>{% trans 'Unit IMEI' %}</td>
                            <td>{% trans 'Unit last location' %}</td>
                            <td>{% trans 'Last seen' %}</td>
                            <td>{% trans 'Actions' %}</td>
                        </tr>
                        {% for unit in units %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="/units/{{ unit.imei }}.html">{{ unit.name }}</a></td>
                            <td>{{ unit.imei }}</td>
                            <td>{{ unit.get_lastlocation.position }}</td>
                            <td>{{ unit.get_lastseen }}</td>
                            <td><a class="btn" href="/units/delete/{{ unit.imei }}.html">Delete</a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6"><a href="/units.html">...</a></td>
                        </tr>
                    </table>
                </div>
                <div class="last-location">
                    <div id="dashboard-map" class="dashboard-map span11"></div>
                </div>
            </div>
{% endblock %}