{% extends 'common/base.html' %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block content %}
            <div class="dashboard">
                <div class="quick-add-unit">
                    <form action="#" method="post" class="quick-add-unit-form">
                        {% csrf_token %}
                        <input type="text" class="quick-add-unit-name" name="name" id="inputName" placeholder="Name" />
                        <input type="text" class="quick-add-unit-imei" name="imei" id="inputIMEI" placeholder="IMEI" />
                        <button type="submit" class="btn quick-add-unit-submit">{% trans 'Add' %}</button>
                    </form>
                    <div class="quick-add-unit-info"></div>
                </div>
                <div class="units-list">
                    <table class="table table-striped">
                        <tr>
                            <td>{% trans '#' %}</td>
                            <td>{% trans 'Unit name' %}</td>
                            <td>{% trans 'Unit IMEI' %}</td>
                            <td>{% trans 'Unit last location' %}</td>
                            <td>{% trans 'Last seen' %}</td>
                            <td>{% trans 'Actions' %}</td>
                        </tr>
                        {% for unit in units %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="/units/{{ unit.imei }}.html">{{ unit.name }}</a></td>
                            <td>{{ unit.imei }}</td>
                            <td>{{ unit.get_lastlocation.position }}</td>
                            <td>{{ unit.get_lastseen|timesince }} {% trans 'ago' %}</td>
                            <td><a class="btn" href="/units/delete/{{ unit.imei }}.html">Delete</a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6"><center><a href="/units.html">...</a></center></td>
                        </tr>
                    </table>
                </div>
                <div class="last-location">
                    <div id="dashboard-map" class="dashboard-map span11"></div>
                </div>
            </div>
{% endblock %}

{% block postjavascripts %}
        <script src="{% static 'js/dashboard.js' %}"></script>
        <script src="{% static 'js/handler.js' %}"></script>
        <script src="//api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"></script>
{% endblock %}