.auth-form {
    padding: 300px;
}
.dashboard { }
.dashboard-map {
    height: 900px;
    border: 1px dotted #cccccc;
}
.last-location {
    padding: 30px;
}
.messages-tabs {
    height: 900px;
    width: 200px;
    overflow: scroll;
}
.notifications { }
.page-content {
    padding-top: 60px;
}
.unit-add {
    padding: 300px;
}
.unit-description-textarea {
    height: 100px;
    width: 300px;
}
.unit-info {
    padding: 30px;
}
.unit-meta {
    
}
.unit-map {
    height: 900px;
    width: 100%;
}
.units-list { }
.quick-add-unit input {
    margin: 0 auto;
}