.auth-form {
    padding: 300px;
}
.dashboard { }
.dashboard-map {
    height: 900px;
    border: 1px dotted #cccccc;
}
.last-location {
    padding: 30px;
}
.messages-tabs {
    height: 900px;
    overflow: auto;
}
.page-content {
    padding-top: 60px;
}
.unit-add {
    padding: 300px;
}
.unit-map {
    height: 900px;
    width: 100%;
    /*border: 1px dotted #cccccc;*/
}
.units-list { }
.quick-add-unit input {
    margin: 0 auto;
}