{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% block styles %}{% endblock %}

        <script src="{% static 'js/bootstrap.js' %}"></script>
{% block javascripts %}{% endblock %}

        <title>Trackkr | {% block title %}{% endblock %}</title>
    </head>
    <body>
{% include 'common/navigation.html' %}
        <div class="container page-content">
{% block content %}{% endblock %}
        </div>
    </body>
</html>